@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-img{
    background-image: url('./assets/more/15.jpg');
}

.banner-img{
    background-image: url('./assets/more/3.png');
}

.footer-img{
    background-image: url('./assets/more/13.jpg');
}
.footer-img2{
    background-image: url('./assets/more/24.jpg');
}